<li> <%= link_to contest.name, contest_path(contest) %> </li>
<li> Contest description: <%= contest.description %> </li>
<li> Contest type: <%= contest.contest_type %> </li>

Contest is not recognizing the referee


