<h1> Player: </h1>

<p>Name: <%= @player.name %></p>
<!--
<p>Owner: <%# @player.user.username %> </p>
-->
<p>Owner: <%= link_to @player.user.username, @player.user %> </p>
<p>Description <%= @player.description %></p>
<!-- TODO: Need a fn that can add 'not' if needed-->
<p>Player is available for matches.</p>

<h5> Contests that use this player: </h5>
<ul>
    <%= render @player.contest %>
</ul>
